version: '2'

services:
  sonarperl:
    image: sonarperl/sonar-perl
    ports:
    - "9000:9000"
  dancer:
    build: ./perl/Dancer
    environment:
      - SONAR_HOST_URL=http://host.docker.internal:9000
  sample:
    build: ./perl/sample-project
    environment:
      - SONAR_HOST_URL=http://host.docker.internal:9000
